/**
 * BUTTON RESET
 */

// reset button styles
// Usage:
// @extend %button-reset;

%button-reset {
	background-color: transparent;
	border: none;
	line-height: normal;
	-webkit-appearance: none;

	&:hover,
	&:focus {
		outline: unset;
	}
}
