/**
 * COLORS
 */

$co-sky-blue: #8bd2e4;
$co-sea-serpent: #5cc1d9;

// main palette

$co-primary: $co-sky-blue;
$co-secondary: $co-sea-serpent;

// neutral palette

$co-black: #000;
$co-white: #fff;
$co-gray: #c7c7c7;
