/**
 * Z-INDEX
 */

$z-0: 0; // special z-index value used to creates a Z context

$z-1: 100;
$z-2: 200;
$z-3: 300;
$z-4: 400;
$z-5: 500;
$z-6: 600;
$z-7: 700;
$z-8: 800;
$z-9: 900;
$z-10: 1000;

// $z-content: $z-3 !global;
// $z-content-border: $z-3 + 1 !global;
// $z-footer: $z-5 !global;
// $z-header: $z-6 !global;
// $z-dropdown: $z-7 !global;
// $z-overlay: $z-8 !global;
// $z-modal: $z-9 !global;
